.body-Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 99.9vw;
}

.box-bodyHeaderLogin {
  align-items: center;
  background-color: #191919f2;
  border-bottom: solid 0.7px #38B6FF;
  color: whitesmoke;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  font-weight: 700;
  height: 7.5vh;
  justify-content: center;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.box-mainLogin {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99.9vw;
  margin-top: 15vh;
  margin-bottom: 6vh;
  justify-content: space-evenly;
}

.box-bodyFooterLogin {
  position: fixed;
  bottom: 0;
  width: 100%;
}
