.body-Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 99vw;
}

.box-bodyHeaderLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  justify-content: center;
  font-weight: 700;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 15px;
}

.box-mainLogin {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 99.1vw;
  margin-top: 10vh;
}

.box-bodyFooterLogin {
  position: fixed;
  bottom: 0;
  width: 100%;
}