.body-Register {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 99.9vw;
}

.box-bodyHeaderRegister {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  justify-content: center;
  font-weight: 700;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 15px;
}

.box-mainRegister {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99.9vw;
  margin-top: 10.2vh;
  margin-bottom: 6vh;
  justify-content: space-evenly;
}

.box-bodyFooterRegister {
  position: fixed;
  bottom: 0;
  width: 100%;
}