.body-Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 99.9vw;
}

.box-bodyHeaderHome {
  align-items: center;
  background-color: #191919f2;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  justify-content: center;
  font-weight: 700;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 15px;
}

.box-mainHome {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99.9vw;
  margin-top: 10.2vh;
  margin-bottom: 6vh;
  justify-content: space-evenly;
  overflow-y:scroll;
}

.section-mainHome {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.box-bodyFooterHome {
  position: fixed;
  bottom: 0;
  width: 101vw;
}
