version: '3.1'

services:
  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    platform: linux/x86_64
    working_dir: /frontend
    depends_on:
      backend:
        condition: service_healthy
    # Os `healthcheck` devem garantir que a aplicação
    # está operacional, antes de liberar o container
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3000"]  # Caso utilize outra porta interna para o front, altere ela aqui também
      timeout: 10s
      retries: 5

  backend:
    container_name: backend_cashControl
    build: ./backend
    image: cash-control-api
    depends_on:
      - db
    ports:
      - 3007:3007
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: controlCashAdm
      DB_PASSWORD: example
      DB_NAME: db_controlCash
    links:
      - db
    volumes:
      - './backend/:/backend/'
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3007"]  # Caso utilize outra porta interna para o front, altere ela aqui também
      timeout: 10s
      retries: 5

  db:
    image: postgres
    container_name: db_postgres
    environment:
      DB_HOST: localhost
      POSTGRES_USER: controlCashAdm
      POSTGRES_PASSWORD: example
      POSTGRES_DB: db_controlCash

    ports:
      - 8081:5432
    restart: 'always'
    healthcheck:
      test: ["CMD-SHELL", 'pg_isready']
      timeout: 10s
      retries: 5
    cap_add:
      - SYS_NICE
