.box-contentFooter {
  align-items: center;
  background-color: #191919f2;
  border-top: solid 0.7px #38B6FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-footerIcons {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.img-icon {
  border-radius: 15%;
  cursor: pointer;
  height: 23px;
  margin-top: 8.5px;
  opacity: 0.4;
  transition: all 700ms;
  width: 23px;
}

.img-icon:hover {
  opacity: 0.9;
}

.gitHub {
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 30%;
  height: 22px;
  width: 22px;
}

/* .linkedin {} */

/* .stackoverflow {} */

.div-footerCopyright {
  align-content: center;
  display: flex;
  height: 2vh;
  justify-content: center;
  width: 100%;
}

.img-footerCopyright {
  height: 100%;
  object-fit: cover;
  flex-basis: 30%;
  opacity: 0.75;
}
