.box-TranfersHome {
  align-items: center;
  align-self: flex-start;
  background-color: whitesmoke;
  border: solid 0.7px #38B6FF;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(64, 178, 206, 0.579), 0 1.5px 3px 1px rgba(52, 143, 213, 0.579);
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 45vw;
}

.box-BtnsHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin: 15px;
  margin-top: 15px;
  width: 280px;
}
